@{
    ViewData["Title"] = "Add Crash";
}

@model Crash

<div class="text-center">
    <p class="display-2">Add a crash</p>
</div>


<div class="row">
    <div class="col-3"></div>

    <div class="col-6">

        <form method="post" asp-controller="Admin" asp-action="AddCrashForm">

            <ul asp-validation-summary="All" class="text-danger list-unstyled"></ul>

            <input type="hidden" asp-for="CRASH_ID" value="@ViewBag.CrashID" />
            <input type="hidden" asp-for="Location.LOCATION_ID" value="@ViewBag.LocationID" />
            <input type="hidden" asp-for="Factor.FACTOR_ID" value="@ViewBag.FactorID" />


            @*Basic Info*@
            <h3>Crash</h3><br />
            <div class="form-group">

                <label asp-for="CRASH_DATETIME">Date of crash:</label>
                <input class="form-control" asp-for="CRASH_DATETIME" value="@DateTime.Today" />

                <label asp-for="Location.CITY">City:</label>
                <input class="form-control" asp-for="Location.CITY" />

                <label asp-for="Location.COUNTY_NAME">County:</label>
                <select class="form-control" asp-for="Location.COUNTY_NAME">
                    <option value="">--Select County--</option>
                    @foreach (var l in ViewBag.Counties)
                    {
                        <option value="@l">@l</option>
                    }
                </select>

                <label asp-for="CRASH_SEVERITY_ID">Severity:</label>
                <select class="form-control" asp-for="CRASH_SEVERITY_ID">
                    <option value="">--Select Crash Severity--</option>
                    <option value="1">No Injury</option>
                    <option value="2">Possible Injury</option>
                    <option value="3">Suspected Minor Injury</option>
                    <option value="4">Suspected Serious Injury</option>
                    <option value="5">Fatal</option>
                </select>
            </div>

            @*Location*@
            <br /><h3>Location of Crash</h3><br />
            <div class="form-group">

                <label asp-for="Location.MAIN_ROAD_NAME">Road Name:</label>
                <input class="form-control" asp-for="Location.MAIN_ROAD_NAME" />

                <label asp-for="Location.ROUTE">Route:</label>
                <input class="form-control" asp-for="Location.ROUTE" />

                <label asp-for="Location.MILEPOINT">Mile Point:</label>
                <input class="form-control" asp-for="Location.MILEPOINT" />
            </div>


            @*Factors*@
            <br /><h3>Additional Factors</h3><br />
            @*Work zone*@
            <div class="form-group">
                <select asp-for="Factor.WORK_ZONE_RELATED">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                &emsp;<label asp-for="Factor.WORK_ZONE_RELATED"><i>Work Zone Related?</i></label>
            </div>
            @* Pedestrian *@
            <div class="form-group">
                <label asp-for="Factor.PEDESTRIAN_INVOLVED">Yes</label>
                <input type="radio" name="ped" asp-for="Factor.PEDESTRIAN_INVOLVED" value="1" />&emsp;
                <label asp-for="Factor.PEDESTRIAN_INVOLVED">No</label>
                <input type="radio" name="ped" asp-for="Factor.PEDESTRIAN_INVOLVED" value="0"/>
                &emsp;<i>Pedestrian Involved?</i>
            </div>
            @* Bicyclist *@
            <div class="form-group">
                <label asp-for="Factor.BICYCLIST_INVOLVED">Yes</label>
                <input type="radio" name="bike" asp-for="Factor.BICYCLIST_INVOLVED" value="1" />&emsp;
                <label asp-for="Factor.BICYCLIST_INVOLVED">No</label>
                <input type="radio" name="bike" asp-for="Factor.BICYCLIST_INVOLVED" value="0" checked="checked" />
                &emsp;<i>Bicyclist Invovled?</i>
            </div>
            @* Improper Restraint *@
            <div class="form-group">
                <label asp-for="Factor.IMPROPER_RESTRAINT">Yes</label>
                <input type="radio" name="restraint" asp-for="Factor.IMPROPER_RESTRAINT" value="1" />&emsp;
                <label asp-for="Factor.IMPROPER_RESTRAINT">No</label>
                <input type="radio" name="restraint" asp-for="Factor.IMPROPER_RESTRAINT" value="0" checked="checked" />
                &emsp;<i>Improper Restraint? (Were they wearing a seatbelt correctly?)</i>
            </div>
            @* Unrestrained *@
            <div class="form-group">
                <label asp-for="Factor.UNRESTRAINED">Yes</label>
                <input type="radio" name="seatbelt" asp-for="Factor.UNRESTRAINED" value="1" />&emsp;
                <label asp-for="Factor.UNRESTRAINED">No</label>
                <input type="radio" name="seatbelt" asp-for="Factor.UNRESTRAINED" value="0" checked="checked" />
                &emsp;<i>Did they have a seatbelt on?</i>
            </div>
            @* Intersection *@
            <div class="form-group">
                <label asp-for="Factor.INTERSECTION_RELATED">Yes</label>
                <input type="radio" name="intersection" asp-for="Factor.INTERSECTION_RELATED" value="1" />&emsp;
                <label asp-for="Factor.INTERSECTION_RELATED">No</label>
                <input type="radio" name="intersection" asp-for="Factor.INTERSECTION_RELATED" value="0" checked="checked" />
                &emsp;<i>Intersection Related?</i>
            </div>
            @* Wild Animal *@
            <div class="form-group">
                <label asp-for="Factor.WILD_ANIMAL_RELATED">Yes</label>
                <input type="radio" name="wild" asp-for="Factor.WILD_ANIMAL_RELATED" value="1" />&emsp;
                <label asp-for="Factor.WILD_ANIMAL_RELATED">No</label>
                <input type="radio" name="wild" asp-for="Factor.WILD_ANIMAL_RELATED" value="0" checked="checked" />
                &emsp;<i>Wild Animal Related?</i>
            </div>
            @* Domestic Animal *@
            <div class="form-group">
                <label asp-for="Factor.DOMESTIC_ANIMAL_RELATED">Yes</label>
                <input type="radio" name="domestic" asp-for="Factor.DOMESTIC_ANIMAL_RELATED" value="1" />&emsp;
                <label asp-for="Factor.DOMESTIC_ANIMAL_RELATED">No</label>
                <input type="radio" name="domestic" asp-for="Factor.DOMESTIC_ANIMAL_RELATED" value="0" checked="checked" />
                &emsp;<i>Domestic Animal Related?</i>
            </div>
            @* Overturn *@
            <div class="form-group">
                <label asp-for="Factor.OVERTURN_ROLLOVER">Yes</label>
                <input type="radio" name="overturn" asp-for="Factor.OVERTURN_ROLLOVER" value="1" />&emsp;
                <label asp-for="Factor.OVERTURN_ROLLOVER">No</label>
                <input type="radio" name="overturn" asp-for="Factor.OVERTURN_ROLLOVER" value="0" checked="checked" />
                &emsp;<i>Overturn Rollover?</i>
            </div>
            @* Commercial Motor Veh Invovled *@
            <div class="form-group">
                <label asp-for="Factor.COMMERCIAL_MOTOR_VEH_INVOLVED">Yes</label>
                <input type="radio" name="commercial" asp-for="Factor.COMMERCIAL_MOTOR_VEH_INVOLVED" value="1" />&emsp;
                <label asp-for="Factor.COMMERCIAL_MOTOR_VEH_INVOLVED">No</label>
                <input type="radio" name="commericial" asp-for="Factor.COMMERCIAL_MOTOR_VEH_INVOLVED" value="0" checked="checked" />
                &emsp;<i>Was a commercial motor vehicle involed?</i>
            </div>
            @* Teenage Driver *@
            <div class="form-group">
                <label asp-for="Factor.TEENAGE_DRIVER_INVOLVED">Yes</label>
                <input type="radio" name="teenager" asp-for="Factor.TEENAGE_DRIVER_INVOLVED" value="1" />&emsp;
                <label asp-for="Factor.TEENAGE_DRIVER_INVOLVED">No</label>
                <input type="radio" name="teenager" asp-for="Factor.TEENAGE_DRIVER_INVOLVED" value="0" checked="checked" />
                &emsp;<i>Teenage Driver Involved?</i>
            </div>
            @* Older Driver *@
            <div class="form-group">
                <label asp-for="Factor.OLDER_DRIVER_INVOLVED">Yes</label>
                <input type="radio" name="older" asp-for="Factor.OLDER_DRIVER_INVOLVED" value="1" />&emsp;
                <label asp-for="Factor.OLDER_DRIVER_INVOLVED">No</label>
                <input type="radio" name="older" asp-for="Factor.OLDER_DRIVER_INVOLVED" value="0" checked="checked" />
                &emsp;<i>Older Driver Involved? (Older than 64 yrs old)</i>
            </div>
            @* Night Dark Condition *@
            <div class="form-group">
                <label asp-for="Factor.NIGHT_DARK_CONDITION">Yes</label>
                <input type="radio" name="night" asp-for="Factor.NIGHT_DARK_CONDITION" value="1" />&emsp;
                <label asp-for="Factor.NIGHT_DARK_CONDITION">No</label>
                <input type="radio" name="night" asp-for="Factor.NIGHT_DARK_CONDITION" value="0" checked="checked" />
                &emsp;<i>Night/Dark Conditions?</i>
            </div>
            @* Single Vehicle *@
            <div class="form-group">
                <label asp-for="Factor.SINGLE_VEHICLE">Yes</label>
                <input type="radio" name="single" asp-for="Factor.SINGLE_VEHICLE" value="1" />&emsp;
                <label asp-for="Factor.SINGLE_VEHICLE">No</label>
                <input type="radio" name="single" asp-for="Factor.SINGLE_VEHICLE" value="0" checked="checked" />
                &emsp;<i>Single Vehicle Accident?</i>
            </div>
            @* Distracted *@
            <div class="form-group">
                <label asp-for="Factor.DISTRACTED_DRIVING">Yes</label>
                <input type="radio" name="distracted" asp-for="Factor.DISTRACTED_DRIVING" value="1" />&emsp;
                <label asp-for="Factor.DISTRACTED_DRIVING">No</label>
                <input type="radio" name="distracted" asp-for="Factor.DISTRACTED_DRIVING" value="0" checked="checked" />
                &emsp;<i>Distracted Driving?</i>
            </div>
            @* Drowsy *@
            <div class="form-group">
                <label asp-for="Factor.DROWSY_DRIVING">Yes</label>
                <input type="radio" name="drowsy" asp-for="Factor.DROWSY_DRIVING" value="1" />&emsp;
                <label asp-for="Factor.DROWSY_DRIVING">No</label>
                <input type="radio" name="drowsy" asp-for="Factor.DROWSY_DRIVING" value="0" checked="checked" />
                &emsp;<i>Drowsy Driving?</i>
            </div>
            @* Roadway Departure *@
            <div class="form-group">
                <label asp-for="Factor.ROADWAY_DEPARTURE">Yes</label>
                <input type="radio" name="departure" asp-for="Factor.ROADWAY_DEPARTURE" value="1" />&emsp;
                <label asp-for="Factor.ROADWAY_DEPARTURE">No</label>
                <input type="radio" name="departure" asp-for="Factor.ROADWAY_DEPARTURE" value="0" checked="checked" />
                &emsp;<i>Roadway Departure?</i>
            </div>
            <br />
            <button type="submit" class="btn btn-lg btn-info">Save Crash</button>
            <br /><br />
        </form>
    </div>

    <div class="col-3"></div>
</div>
