@{
    ViewData["Title"] = "Edit Crash";
}


@model Crash

<div class="text-center">
    <p class="display-2">Edit a crash</p>
</div>

<div class="bg-dark text-white">
    <div class="container-fluid">
    </div>
</div>

<div class="row">
    <div class="col-3"></div>

    <div class="col-6">

        <form method="post" asp-controller="Admin" asp-action="EditCrashForm">

            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="hidden" asp-for="CRASH_ID" value="@Model.CRASH_ID" />
            <input type="hidden" asp-for="Location.LOCATION_ID" value="@Model.Location.LOCATION_ID" />
            <input type="hidden" asp-for="Factor.FACTOR_ID" value="@Model.Factor.FACTOR_ID" />


            @*Basic Info*@
            <h3>Crash</h3><br />
            <div class="form-group">

                <label asp-for="CRASH_DATETIME">Date of crash:</label>
                <input type="datetime" class="form-control" asp-for="CRASH_DATETIME" value="@Model.CRASH_DATETIME" />

                <label asp-for="Location.CITY">City:</label>
                <input class="form-control" asp-for="Location.CITY" value="@Model.Location.CITY" />

                <label asp-for="Location.COUNTY_NAME">County:</label>
                <select class="form-control" asp-for="Location.COUNTY_NAME">
                    <option value="">--Select County--</option>
                    @foreach (var l in ViewBag.Counties)
                    {
                        <option value="@l">@l</option>
                    }
                </select>

                <label asp-for="CRASH_SEVERITY_ID">Severity:</label>
                <select class="form-control" asp-for="CRASH_SEVERITY_ID">
                    <option value="@Model.CRASH_SEVERITY_ID">--Select Crash Severity--</option>
                    <option value="1">No Injury</option>
                    <option value="2">Possible Injury</option>
                    <option value="3">Suspected Minor Injury</option>
                    <option value="4">Suspected Serious Injury</option>
                    <option value="5">Fatal</option>
                </select>
            </div>

            @*Location*@
            <br /><h3>Crash Location</h3><br />
            <div class="form-group">

                <label asp-for="Location.MAIN_ROAD_NAME">Road Name:</label>
                <input class="form-control" asp-for="Location.MAIN_ROAD_NAME" value="@Model.Location.MAIN_ROAD_NAME" />

                <label asp-for="Location.ROUTE">Route:</label>
                <input class="form-control" asp-for="Location.ROUTE" value="@Model.Location.ROUTE" />

                <label asp-for="Location.MILEPOINT">Mile Point:</label>
                <input class="form-control" asp-for="Location.MILEPOINT" value="@Model.Location.MILEPOINT" />
            </div>


            @*Factors*@
            <br /><h3>Additional Factors</h3><br />
            @*Work zone*@
            <div class="form-group">
                <select asp-for="Factor.WORK_ZONE_RELATED" value="@Model.Factor.WORK_ZONE_RELATED">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                &emsp;<label asp-for="Factor.WORK_ZONE_RELATED"><i>Work Zone Related?</i></label>
            </div>
            @* Pedestrian *@
            <div class="form-group">
                <select asp-for="Factor.PEDESTRIAN_INVOLVED" value="@Model.Factor.PEDESTRIAN_INVOLVED">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                &emsp;<label asp-for="Factor.PEDESTRIAN_INVOLVED"><i>Pedestrian involved?</i></label>
            </div>
            @* Bicyclist *@
            <div class="form-group">
                <select asp-for="Factor.BICYCLIST_INVOLVED" value="@Model.Factor.BICYCLIST_INVOLVED">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                &emsp;<label asp-for="Factor.BICYCLIST_INVOLVED"><i>Bicyclist Invovled?</i></label>
            </div>
            @* Motorcycle *@
            <div class="form-group">
                <select asp-for="Factor.MOTORCYCLE_INVOLVED" value="@Model.Factor.MOTORCYCLE_INVOLVED">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                &emsp;<label asp-for="Factor.MOTORCYCLE_INVOLVED"><i>Motorcycle Invovled?</i></label>
            </div>
            @* Improper Restraint *@
            <div class="form-group">
                <select asp-for="Factor.IMPROPER_RESTRAINT" value="@Model.Factor.IMPROPER_RESTRAINT">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                &emsp;<label asp-for="Factor.IMPROPER_RESTRAINT"><i>Improper Restraint? (Were they wearing a seatbelt incorrectly?)</i></label>
            </div>
            @* Unrestrained *@
            <div class="form-group">
                <select asp-for="Factor.UNRESTRAINED" value="@Model.Factor.UNRESTRAINED">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                &emsp;<label asp-for="Factor.UNRESTRAINED"><i>Did they have a seatbelt on?</i></label>
            </div>
            @* DUI *@
            <div class="form-group">
                <select asp-for="Factor.DUI" value="@Model.Factor.DUI">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                &emsp;<label asp-for="Factor.DUI"><i>Were they driving under the influence?</i></label>
            </div>
            @* Intersection *@
            <div class="form-group">
                <select asp-for="Factor.INTERSECTION_RELATED" value="@Model.Factor.INTERSECTION_RELATED">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                &emsp;<label asp-for="Factor.INTERSECTION_RELATED"><i>Intersection Related?</i></label>
            </div>
            @* Wild Animal *@
            <div class="form-group">
                <select asp-for="Factor.WILD_ANIMAL_RELATED" value="@Model.Factor.WILD_ANIMAL_RELATED">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                &emsp;<label asp-for="Factor.WILD_ANIMAL_RELATED"><i>Wild Animal Related?</i></label>
            </div>
            @* Domestic Animal *@
            <div class="form-group">
                <select asp-for="Factor.DOMESTIC_ANIMAL_RELATED" value="@Model.Factor.DOMESTIC_ANIMAL_RELATED">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                &emsp;<label asp-for="Factor.DOMESTIC_ANIMAL_RELATED"><i>Domestic Animal Involved?</i></label>
            </div>
            @* Overturn *@
            <div class="form-group">
                <select asp-for="Factor.OVERTURN_ROLLOVER" value="@Model.Factor.OVERTURN_ROLLOVER">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                &emsp;<label asp-for="Factor.OVERTURN_ROLLOVER"><i>Overturn Rollover?</i></label>
            </div>
            @* Commercial Motor Veh Invovled *@
            <div class="form-group">
                <select asp-for="Factor.COMMERCIAL_MOTOR_VEH_INVOLVED" value="@Model.Factor.COMMERCIAL_MOTOR_VEH_INVOLVED">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                &emsp;<label asp-for="Factor.COMMERCIAL_MOTOR_VEH_INVOLVED"><i>Commericial Vehicle Involved?</i></label>
            </div>
            @* Teenage Driver *@
            <div class="form-group">
                <select asp-for="Factor.TEENAGE_DRIVER_INVOLVED" value="@Model.Factor.TEENAGE_DRIVER_INVOLVED">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                &emsp;<label asp-for="Factor.TEENAGE_DRIVER_INVOLVED"><i>Teenage Driver Involed?</i></label>
            </div>
            @* Older Driver *@
            <div class="form-group">
                <select asp-for="Factor.OLDER_DRIVER_INVOLVED" value="@Model.Factor.OLDER_DRIVER_INVOLVED">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                &emsp;<label asp-for="Factor.OLDER_DRIVER_INVOLVED"><i>Older Driver Involved (64 and older)?</i></label>
            </div>
            @* Night Dark Condition *@
            <div class="form-group">
                <select asp-for="Factor.NIGHT_DARK_CONDITION" value="@Model.Factor.NIGHT_DARK_CONDITION">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                &emsp;<label asp-for="Factor.NIGHT_DARK_CONDITION"><i>Night/Dark Conditions?</i></label>
            </div>
            @* Single Vehicle *@
            <div class="form-group">
                <select asp-for="Factor.SINGLE_VEHICLE" value="@Model.Factor.SINGLE_VEHICLE">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                &emsp;<label asp-for="Factor.SINGLE_VEHICLE"><i>Single Vehicle Involved?</i></label>
            </div>
            @* Distracted *@
            <div class="form-group">
                <select asp-for="Factor.DISTRACTED_DRIVING" value="@Model.Factor.DISTRACTED_DRIVING">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                &emsp;<label asp-for="Factor.DISTRACTED_DRIVING"><i>Distracted Driving?</i></label>
            </div>
            @* Drowsy *@
            <div class="form-group">
                <select asp-for="Factor.DROWSY_DRIVING" value="@Model.Factor.DROWSY_DRIVING">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                &emsp;<label asp-for="Factor.DROWSY_DRIVING"><i>Drowsy Driving?</i></label>
            </div>
            @* Roadway Departure *@
            <div class="form-group">
                <select asp-for="Factor.ROADWAY_DEPARTURE" value="@Model.Factor.ROADWAY_DEPARTURE">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                &emsp;<label asp-for="Factor.ROADWAY_DEPARTURE"><i>Roadway Departure?</i></label>
            </div>
            <br />
            <button type="submit" class="btn btn-lg btn-crashBlue">Update Crash</button>
            <br /><br />
        </form>
    </div>

    <div class="col-3"></div>
</div>
